<p style="color: green"><%= notice %></p>

<%= render @played_game %>

<div>
  <%= link_to "Edit this played game", edit_played_game_path(@played_game) %> |
  <%= link_to "Back to played games", played_games_path %>

  <%= button_to "Destroy this played game", @played_game, method: :delete %>
</div>
