<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc, style: "width: 500px; height: 200px;"%>
  </div>

  <div>
    <%= form.label :release_date, "Release Date", style: "display: block" %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.label :publisher, style: "display: block" %>
    <%= form.text_field :publisher %>
  </div>

  <div>
    <%= form.label :developer, style: "display: block" %>
    <%= form.text_field :developer %>
  </div>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :platform, style: "display: block" %>
    <%= form.text_field :platform %>
  </div>

  <div>
    <%= form.label :age_rating, style: "display: block" %>
    <%= form.text_field :age_rating %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :pictures, style: "display: block" %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <br />

  <div>
    <%= form.submit %>
  </div>
<% end %>
