<div id="<%= dom_id game %>">
  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= game.desc %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= game.publisher %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= game.developer %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Age rating:</strong>
    <%= game.age_rating %>
  </p>

</div>
