<p style="color: green"><%= notice %></p>

<h1 class="text-center"> Games </h1>
<div class="text-center"><%= link_to "New Game", new_game_path, class:"btn btn-primary"%></div>

<br />
<div class="container">
  <div class="grid" id="games">
    
    <% @games.each do |game| %>

      <div class="box">
        <% if game.image.attached? %>
          <%= link_to image_tag(game.image, :class => 'img-box'), game, style: 'color: black;' %>
        <% else %>
          <%= link_to image_tag('default.png', :class => 'img-box'), game, style: 'color: black;' %>
        <% end %>

        <div class="container">
          <h6 style="text-align: left;"><%= link_to game.title.truncate(32), game %></h6>
          
          <div class="row">
            <div class="col"><p class="box-info-left"><%= game.platform %></p></div>
            <div class="col"><p class="box-info-right"><%= game.release_date.year %></p></div>
          </div>

        </div>
      </div>

    <% end %>

  </div>
</div>


<br />










