
<div class="container">
  <div>
    
    <br />
    <%= render @game %>
    <br />
    
    <div>
      <%= link_to "Back to Games", games_path, class:'btn btn-primary' %>
      
      <% if current_user %>
        <% if current_user.games.include?(@game) %>
          <%= button_to "Remove from List", remove_game_path(@game), method: :delete, class:'btn btn-danger' %>
        <% else %>
          <%= button_to "Add to List", add_game_path(@game), method: :post, class:'btn btn-primary' %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "Edit this game", edit_game_path(@game), class:'btn btn-primary' %>
          <%= button_to "Destroy this game", @game, method: :delete, class:'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
    
    <br />
  </div>
</div>




