<% if current_user %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            
            <li><%= link_to "Profile", user_path(current_user.username), class:'dropdown-item' %></li>
            <li><%= link_to "Settings", edit_user_registration_path, class:'dropdown-item' %></li>
            
            <% if current_user.admin? %>
                <li><hr class="dropdown-divider"></li>

                <li><h5 style="color:rgba(255, 0, 0, 0.75)" class="dropdown-header">Admin</h5></li>
                
                <li><%= link_to "Edit Games", games_path, class:'dropdown-item' %></li>
                <li><%= link_to "Edit Reviews", admin_reviews_path, class:'dropdown-item' %></li>
                <li><%= link_to "Edit Users", admin_users_path, class:'dropdown-item' %></li>
            <% end %>

            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:'dropdown-item' %></li>
        </ul>
    </li>

<% else %>
    <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class:'nav-link'%>
    </li>
    <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class:'nav-link'%>
    </li>
<% end %>